  @font-face {
font-family: "utfont";
src: url("/fonts/determinationsanswebregular-369x-webfont.woff") format("woff"),
    src: url("/fonts/determinationsanswebregular-369x.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
